/ MODULE 4 - POKEDEX
.ui.centered.grid
  .ten.wide.column
    .panel
      %form.form
        .ui.icon.input.fluid
          %i.search.icon
          %input{name: "id", type:"number", placeholder: "Pokemon ID", value: 1}
      / DO NOT MODIFY ANY LINE ABOVE THIS
      
      / YOUR SOLUTION HERE
      .ui.centered.card
        .ui.card{:style => "background-color:gray"}
          %img.load{"data-query":"sprites.front_default", "data-input":"src"}
          
        
        .content
          .header.left.floated.aligned.load{"data-query":"name", "data-input":"html"}
          .right.floated lbs
          %span.header.right.floated.load{"data-query":"weight", "data-input":"html"}
          
        .content
          .ui.name.left.floated.load{"data-query": "types.0.type.name","data-input": "html"}
          .ui.name.right.floated.load{"data-query": "types.1.type.name","data-input": "html"}
      
      
      
        .content
          %hr{:style => "height:3px;border-width:0;color:gray;background-color:gray"}/
          .header.center.floated STATS
          
        
        .content
          .left.floated HP
          .right.floated.load{"data-query":"stats.0.base_stat", "data-input":"html"}
        .content
          .left.floated ATTACK
          .right.floated.load{"data-query":"stats.1.base_stat", "data-input":"html"}
        .content
          .left.floated DEFENSE
          .right.floated.load{"data-query":"stats.2.base_stat", "data-input":"html"}
        .content
          .left.floated SPECIAL-ATTACK
          .right.floated.load{"data-query":"stats.3.base_stat", "data-input":"html"}
        .content
          .left.floated SPECIAL-DEFENSE
          .right.floated.load{"data-query":"stats.4.base_stat", "data-input":"html"}
        .content
          .left.floated SPEED
          .right.floated.load{"data-query":"stats.5.base_stat", "data-input":"html"}
        .content
          .left.floated #
          .ui.name.left.floated.load{"data-query": "id","data-input": "html"}
          


/ DO NOT MODIFY ANYTHING BELOW THESE LINES
/ ----------------------------------
:coffeescript
  POKEDEX_URL= "https://pokeapi.co/api/v2/pokemon/"
  
  $ ->
    grabPokedex(1) # default load
    
    # BIND FORM SUBMISSION BEHAVIOR TO POKEDEX CALL
    $("form").submit (event)->
      event.preventDefault()
      data = $(this).serializeArray()
      data =_.object(_.pluck(data, "name"), _.pluck(data, "value"))
      grabPokedex(data.id)
      return false
  
  capitalize = (str)->
    str.charAt(0).toUpperCase()+str.slice(1)
  
  window.grabPokedex = (id)->
    $.getJSON POKEDEX_URL+id, (resp)->
      _.each $(".load"), (el)->
        # GRAB PROPERTIES SPECIFIED IN HAML
        query = $(el).data("query")
        input = $(el).data("input")
        if _.isUndefined(query) then return
       
        # RESOLVE QUERY TO JSON VALUE
        query = query.split(".")
        result = resp
        corrupt = false
        _.each query, (key)->
          if result[key]
            result = result[key]
          else
            corrupt = true
        if corrupt
          return
        
        # HOW TO HANDLE THE JSON VALUE
        switch input
          when "html"
            $(el).html(result)
          when "src"
            $(el).attr("src", result)
          else
            $(el).html(result)
            
      console.log "API RESPONSE", resp
        


:scss
  .panel{
    margin-top: 60px;
  }
  .stat.label{
    text-transform: uppercase;
    font-weight: bold;
  }
  .stat:not(.label){
    float: right;
  }
