/ MODULE 4 - POKEDEX
.ui.centered.grid
  .ten.wide.column
    .panel
      %form.form
        .ui.icon.input.fluid
          %i.search.icon
          %input{name: "id", type:"number", placeholder: "Pokemon ID", value: 1}
      / DO NOT MODIFY ANY LINE ABOVE THIS
      
      / YOUR SOLUTION HERE
      .name.load{"data-query":"name", "data-input":"html"}
      







/ DO NOT MODIFY ANYTHING BELOW THESE LINES
/ ----------------------------------
:coffeescript
  POKEDEX_URL= "https://pokeapi.co/api/v2/pokemon/"
  
  $ ->
    grabPokedex(1) # default load
    
    # BIND FORM SUBMISSION BEHAVIOR TO POKEDEX CALL
    $("form").submit (event)->
      event.preventDefault()
      data = $(this).serializeArray()
      data =_.object(_.pluck(data, "name"), _.pluck(data, "value"))
      grabPokedex(data.id)
      return false
  
  capitalize = (str)->
    str.charAt(0).toUpperCase()+str.slice(1)
  
  grabPokedex = (id)->
    $.getJSON POKEDEX_URL+id, (resp)->
      _.each $(".load"), (el)->
        # GRAB PROPERTIES SPECIFIED IN HAML
        query = $(el).data("query")
        input = $(el).data("input")
        if _.isUndefined(query) then return
       
        # RESOLVE QUERY TO JSON VALUE
        query = query.split(".")
        result = resp
        corrupt = false
        _.each query, (key)->
          if result[key]
            result = result[key]
          else
            corrupt = true
        if corrupt
          return
        
        # HOW TO HANDLE THE JSON VALUE
        switch input
          when "html"
            $(el).html(result)
          when "src"
            $(el).attr("src", result)
          else
            $(el).html(result)
            
      console.log "API RESPONSE", resp
        


:scss
  .panel{
    margin-top: 60px;
  }
  .stat.label{
    text-transform: uppercase;
    font-weight: bold;
  }
  .stat:not(.label){
    float: right;
  }